{{dice.value}}
<span *ngIf="dice.hasAdditions">
  (
  Rolled {{dice.rolledValue}},
  <span *ngFor="let addition of dice.additions; let last=last">
    <span *ngIf="addition.amount >= 0; else minus">+{{addition.amount}}</span>
    <ng-template #minus>-{{addition.amount}}</ng-template>
    {{addition.reason}}
    <span *ngIf="!last">,</span>
  </span>
  )
</span>
