<div class="jumbotron text-center">
  <h1>Delve</h1>
  <h2>Deep</h2>
  <h1>Dungeons</h1>
</div>

<div *ngIf="!currentGame" class="text-center">
  <button type="button" class="btn btn-primary" (click)="newGame()">New Game</button>
</div>

<div *ngIf="currentGame" class="text-center">
  <div>
    You are currently on a delve at depth {{currentGame.currentLevel}}.
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="continueGame()">Continue</button>
  </div>
</div>
