<div *ngFor="let char of delve.getParty()">
  <app-character [item]="char"></app-character>
</div>

<p>You are on level {{level}} of the dungeon.</p>

<div *ngIf="encounter !== null">
  <div>
    You encounter <app-monster [item]="encounter"></app-monster>
  </div>
  <button type="button" class="btn btn-danger" (click)="startEncounter()">Fight!</button>
</div>

<button type="button" class="btn btn-danger" (click)="delveDeeper()">Delve Deeper</button>
