<h1>Mortal Combat!</h1>
<div *ngFor="let char of delve.getParty()">
  <app-character [item]="char"></app-character>
</div>
<h1>VS</h1>
<app-monster [item]="delve.encounter"></app-monster>

<hr/>
<!-- Actions -->

<div *ngIf="!this.pending && !isMonsterTurn()">
  <button type="button" class="btn btn-primary" (click)="attack()">Attack</button>
</div>

<hr/>
<!-- Transcript -->
<div>
  <div *ngFor="let line of visibleTranscript(); let first=first">
    <span [class.font-weight-bold]="first">
      {{line.message}}
    </span>
    <span *ngIf="line.dice">
      [ <app-dice-roll [dice]="line.dice"></app-dice-roll> ]
    </span>
    <span *ngIf="first && pending">
      <button type="button" class="btn btn-secondary btn-sm" (click)="acknowledge()">
        Ok
      </button>
    </span>
  </div>
</div>
