<div class="jumbotron text-center">
  <h3>Your Entire Party Has Died</h3>
  <h1>Game Over</h1>
</div>

<div>
  In memoriam:
  <ul>
    <li *ngFor="let char of delve.getParty()">
      <app-character [item]="char"></app-character>
    </li>
  </ul>
</div>

<div class="text-center">
  <button type="button" class="btn btn-primary" (click)="restart()">Return to Title</button>
</div>
